<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black</string>
				</array>
			</dict>
			<key>Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue</string>
				</array>
			</dict>
			<key>Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green</string>
				</array>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White</string>
				</array>
			</dict>
			<key>Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
		<key>UIImageName</key>
		<string>Loading</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
